# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Word temp files
**/~$*
# Other temp files
**/~*.tmp

*.lock
Visual Studio/RobotArminator/.vs/*
Visual Studio/RobotArminator/ipch/*
*.sln
*.vcxproj
*.vcxproj.filters
**/*.sdf
Visual Studio/RobotArminator/RobotArminator/Debug/*
Visual Studio/RobotArminator/Debug/*
*.opensdf

